name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment to destroy'
        required: true
        default: dev
        type: choice
        options:
          - dev
          - prod

jobs:
  destroy:
    name: Destroy Terraform Resources
    runs-on: ubuntu-latest

    permissions:
      id-token: write      # Required for OIDC
      contents: read
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::748026688964:role/GitHubActionsAWSRole
          aws-region: eu-west-1

      - name: Set Environment variable
        run: echo "ENVIRONMENT=${{ github.event.inputs.environment }}" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      
      - name: Install Terramate
        run: |
          sudo apt-get update && sudo apt-get install -y wget gnupg lsb-release

          echo "deb [trusted=yes] https://repo.terramate.io/apt/ /" | sudo tee /etc/apt/sources.list.d/terramate.list

          sudo apt-get update
          sudo apt-get install -y terramate
      
      - name: "setup:install-terrafile"
        run: |
          wget -qO- https://github.com/coretech/terrafile/releases/download/v0.8/terrafile_0.8_Linux_x86_64.tar.gz | tar xvz && mv terrafile /usr/local/bin/terrafile

      - name: "build:terrafile-import"
        run: |
          cd ./aws
          terrafile -f terrafile
      
      - name: "build:terramate-generate-infrastructure"
        run: |
          cd ./aws/env/$ENVIRONMENT
          terramate generate 

      - name: "build:terramate-generate-application"
        run: |
          cd ./aws/vendor/modules/terraform-modules/applications
          terramate generate 

      - name: Terraform Init
        run: |
          terraform -chdir=./aws/env/$ENVIRONMENT init

      - name: Terraform Destroy
        run: |
          terraform -chdir=./aws/env/$ENVIRONMENT destroy -auto-approve -no-color > destroy.log 2>&1 || cat destroy.log

