name: Terraform CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Workflow
    runs-on: ubuntu-latest

    permissions:
      id-token: write      # Required for OIDC
      contents: read

    steps:
      # Step 1: Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set environment
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "ENVIRONMENT=prod" >> $GITHUB_ENV
          else
            echo "ENVIRONMENT=dev" >> $GITHUB_ENV
          fi

      # Step 2: Configure AWS credentials via OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::748026688964:role/GitHubActionsAWSRole
          aws-region: us-east-1

      # Step 3: Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install Terramate
        run: |
          sudo apt-get update && sudo apt-get install -y wget gnupg lsb-release

          echo "deb [trusted=yes] https://repo.terramate.io/apt/ /" | sudo tee /etc/apt/sources.list.d/terramate.list

          sudo apt-get update
          sudo apt-get install -y terramate

      - name: Terramate Generate
        run: |
          terramate generate
       
      - name: Terraform Format
        run: |
          terraform -chdir=./aws/env/$ENVIRONMENT fmt -check
      
      - name: List Terraform files
        run: cat ./aws/env/$ENVIRONMENT/_auto_generated_ecr.tf


      ## Step 5: Terraform Init
      #- name: Terraform Init
      #  run: terraform init
#
      ## Step 6: Terraform Plan
      #- name: Terraform Plan
      #  run: terraform plan -out=tfplan
#
      ## Optional Step 7: Comment plan on PR
      #- name: Terraform Plan Comment
      #  if: github.event_name == 'pull_request'
      #  uses: marocchino/sticky-pull-request-comment@v2
      #  with:
      #    message: |
      #      Terraform plan for commit `${{ github.sha }}`:
      #      ``` 
      #      $(terraform plan -no-color) 
      #      ```
#
      ## Step 8: Terraform Apply (only on main)
      #- name: Terraform Apply
      #  if: github.ref_name == 'main' && github.event_name == 'push'
      #  run: terraform apply -auto-approve tfplan
