name: Terraform Plan & Apply

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".github/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".github/**"

jobs:
  terraform:
    name: Terraform Plan & Apply
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: "setup:checkout-code"
        uses: actions/checkout@v4
      
      - name: "setup:set-environment"
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "ENVIRONMENT=prod" >> $GITHUB_ENV
          else
            echo "ENVIRONMENT=dev" >> $GITHUB_ENV
          fi

      - name: "setup:configure-aws-credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::748026688964:role/GitHubActionsAWSRole
          aws-region: eu-west-1

      - name: "setup:install-terraform"
        uses: hashicorp/setup-terraform@v3

      - name: "setup:install-terramate"
        run: |
          sudo apt-get update && sudo apt-get install -y wget gnupg lsb-release

          echo "deb [trusted=yes] https://repo.terramate.io/apt/ /" | sudo tee /etc/apt/sources.list.d/terramate.list

          sudo apt-get update
          sudo apt-get install -y terramate
      
      - name: "setup:install-terrafile"
        run: |
          wget -qO- https://github.com/coretech/terrafile/releases/download/v0.8/terrafile_0.8_Linux_x86_64.tar.gz | tar xvz && mv terrafile /usr/local/bin/terrafile
      
      - name: "build:terrafile-import"
        run: |
          cd ./aws
          terrafile -f terrafile

      - name: "build:terramate-generate-infrastructure"
        run: |
          cd ./aws/env/$ENVIRONMENT
          terramate generate 

      - name: "build:terramate-generate-application"
        run: |
          cd ./aws/vendor/modules/terraform-modules/applications
          terramate generate 
       
      - name: "build:terraform-format"
        run: |
          terraform -chdir=./aws fmt

      - name: "build:terraform-init"
        run: terraform -chdir=./aws/env/$ENVIRONMENT init 

      - name: "build:terraform-plan"
        run: terraform -chdir=./aws/env/$ENVIRONMENT plan -out=tfplan

      ## Optional Step 7: Comment plan on PR
      #- name: Terraform Plan Comment
      #  if: github.event_name == 'pull_request'
      #  uses: marocchino/sticky-pull-request-comment@v2
      #  with:
      #    message: |
      #      Terraform plan for commit `${{ github.sha }}`:
      #      ``` 
      #      $(terraform plan -no-color) 
      #      ```

      - name: "build:terraform-apply"
        if: github.ref_name == 'main' && github.event_name == 'push'
        run: terraform -chdir=./aws/env/$ENVIRONMENT apply -auto-approve tfplan
